<%= form_for [@batch, @student, @performance] do |f| %>
<div class="container dashboard">
<section class="left-column">
	<div class="photo-big">
		<%= image_tag(@student.picture) %>
	</div>
	<div class="date">
		<%=f.date_field(:date, value: Date.today) %>
	</div>
</section>
<aside class="right-column">
	<h1><%= @student.full_name %></h1>
	<div class="days-marks">
		<% @student.performances.each do |performance| %>
			<div class="color<%= performance.rate %>"> </div> 
		<% end %>
	</div>
	
	 <div class="form-group">
    <label>Remarks:</label>
    <br>
  <%= f.text_area(:remarks, class: "form-control", placeholder: 'Write something ...') %>
  </div>

  <div class="actions">
    <%= f.submit "Save", class: "btn btn-primary" %>
    <%= f.submit "Save and next", class: "btn btn-primary" %>
  <% end %>
  <br><br>

  <button class="btn btn-default">
  	<%= link_to 'Back', url_for(:back) %>
  </button>
  <button class="btn btn-danger">
		<%=link_to "Edit Student", edit_batch_student_path(batch_id: @batch.id, id: @student.id)%>
	</button>
	</div>
</aside>
</div>
