<div class="container">
	<div class="ask-question">
		<button class="btn btn-danger btn-sm ask">
		<%= link_to "Ask question!", batch_ask_path(batch_id: @batch.id) %>
		</button>
	</div>
	<div class="grades-block">
		<div class="green"><%= @batch.percentages[:green] %>%</div>
		<div class="yellow"><%= @batch.percentages[:yellow] %>%</div>
		<div class="red"><%= @batch.percentages[:red] %>%</div>
	</div>
<br>
	<button class="btn btn-danger btn-sm">
		<%= link_to "Add Student", new_batch_student_path(batch_id: @batch.id) %>
	</button>

	<button class="btn btn-danger btn-sm">
	<%= link_to "Delete Batch", batch_path(batch_id: @batch.id), :confirm => "Are you sure?", :method => :delete %>
	</button>

  <button class="btn btn-default">
  	<%= link_to 'Back', url_for(:back) %>
  </button>

	<div class="batch-list">	
	<% @batch.students.each do |student| %>
		<li class="students-items">
			<div class="color<%= student.performances.last && student.performances.last.rate %>" >
				<%= link_to image_tag(student.picture),batch_student_path(batch_id: @batch.id, id: student.id), class: 'photo-mini' %>
			</div>
		<br>
		<br>
		<h4><span><%= link_to student.full_name, batch_student_path(batch_id: @batch.id, id: student.id), class: "student-name" %></span></h4>
		</li>
	<% end %>
	
	</div>
</div>